body {
    margin: 0;
    padding: 0;
    background-color: #0b0f14;
    color: #00ff99;
    font-family: "Courier New", Courier, monospace;
}

header {
    background-color: #05080d;
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid #00ff99;
}

h1 {
    margin-bottom: 5px;
    color: #00ff99;
}

h2 {
    font-weight: normal;
    color: #00cc77;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #00ff99;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #ffffff;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
    border-bottom: 1px solid #002b1a;
}

h3 {
    color: #00ff99;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li::before {
    content: "> ";
    color: #00cc77;
}
